:root {
    --txt-White: #FAF6F2;

    --txt-Gray: #D0D0D0;
    --txt-Gray-2: #636B78;
    --txt-Dark: #3E424B;

    --txt-Orange: #BB8C5F;

    --Orange: var(--txt-Orange);
    --Dark-Orange: #524336;
    
    --Black: #050402;

    --White: var(--txt-White);

    --title-aktive: var(--txt-Orange);
 }

