@import url('./fonts.css');
@import url('./global.css');
@import url('../libs/css/normalize.css');
@import url('./reset.css');
@import url('./components/header.css');
@import url('./components/slider.css');
@import url('./components/slider-catalog.css');
@import url('./components/categories.css');
@import url('./components/product-card.css');
@import url('./components/slider-product-card.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
}

main {
    background: #919191;
    padding-top: 120px;
}