.categories-wrapper {
    position: relative;
    max-width: 987vw;
    min-height: 987px;
    display: block;
    margin: 120px 352px 0 352px;
}

.categories {
    display: block;
    width: 100%;
}

.categories__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7px;
}

.categories__list--link {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 30px;
    line-height: 115%;
    color: var(--txt-Dark);
    text-decoration: none;
    padding: 0 5px 8px 5px;
}

.categories__catalog--item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 59px;
}

.categories__catalog--item {
    display: none;
}

.categories__catalog--item-active {
    display: flex;
}

.categories__list--item-active .categories__catalog--item {
    display: flex;
}

.categories__list--item-active .categories__list--link {
    color: var(--txt-Orange);
    background-image: url('../../images/line-active/categories-line-active.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: none;
}

.categories__catalog--show-more-wrapper {
    display: block;
    width: 275px;
    height: 70px;
    background-image: url('../../images/buttons/showmore-btn.svg');
    background-color: var(--bg-Grey);
    outline: 0 !important;
    border: 0 !important;
    padding: 0 !important;
    position: absolute;
    bottom: 0px;
    left: 470px;
}

.categories__catalog--show-more-wrapper:hover {
    cursor: pointer;
    background-image: url('../../images/buttons/btn-darck-active.svg');
}

.categories__catalog--show-more-wrapper:hover>.categories__catalog--show-more {
    color: var(--txt-White);
}

.categories__catalog--show-more {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--txt-Orange);
}