.categories {
    display: block;
    margin: 0 352px 0 352px;

}

.categories__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 7px;

}

.categories__list--link {
    font-family: 'Jost';
    font-weight: 500;
    font-size: 30px;
    line-height: 115%;
    color: var(--txt-Dark);
    text-decoration: none;
    padding: 0 5px 8px 5px;
}

.categories__list--link-active {
    color: var(--txt-Orange);
    background-image: url('../../images/line-active/categories-line-active.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
}

.categories__list--link-noactive {
    color: var(--txt-Dark);
    background: none;
}

.categories__catalog {
    margin: 0 352px 0 352px;
}

.categories__catalog--list {
    list-style-type: none;
}

.categories__catalog--item {
    display: flex;
    flex-wrap: wrap;
    max-width: 1216px;
    justify-content: space-between;
    margin: 0 352px 0 352px;
}

.categories__catalog--popular-product {
    display: none;
}

.categories__catalog--new-product {
    display: none;
}

.categories__catalog--stock-product {
    display: none;
}

.categories__catalog--hit-product {
    display: none;
}

.categories__catalog--active {
    display: flex;
}

.categories__catalog--noactive {
    display: none;
}