.header {
    background-color: var(--Black);
}

.header__container {
    padding: 36px 352px 12px 352px;
}

.header__wrapper-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex: 1 1 auto;
    position: relative;
    padding-bottom: 11px;
    background-image: url('../../images/dividers/dividers-header.svg');
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__logo {
    display: block;
    width: 191px;
    height: 63px;
    position: absolute;
    top: -22px;
    right: 40%;
}

.header__contacts-wrapper {
    display: flex;
    align-items: flex-start;
    flex: 1 1 auto;
}

.header__contacts-phone-number {
    margin-bottom: 2px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.header__contacts-phone-number>a {
    font-size: 15px;
    line-height: 150%;
    color: var(--txt-White);
    text-decoration: none;
    margin-left: 14.49px;
}

.header__contacts-email {
    margin-left: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
}


.header__contacts-email>a {
    font-size: 15px;
    line-height: 150%;
    color: var(--txt-White);
    text-decoration: none;
    margin-left: 14px;
}

.header__contacts-networks--item {
    font-size: 12px;
    line-height: 150%;
    color: var(--txt-White);
    text-decoration: none;
    margin-left: 10px;
}

.header__contacts-networks--item:first-of-type {
    margin-left: 0px;
}

.header__contacts-networks--item:nth-of-type(2) {
    color: var(--txt-Orange);
}

.header__contacts-networks--item:hover {
    color: var(--txt-Orange);
}

.header__contacts-networks--item:nth-of-type(2):hover {
    color: var(--txt-White);
}

.header__panel-flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 auto;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--txt-White);
}

.header__panel--basket>p::after {
    content: "\20BD";
    margin-left: 3px;
}

.header__controls {
    display: flex;
    align-items: center;
    position: relative;
}

.header__controls-icon {
    width: 20px;
    height: 19.75px;
    margin-left: 9px;
    position: relative;
}

.header__controls-count {
    display: block;
    font-size: 14px;
    color: var(--txt-White);
    background-color: var(--Orange);
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 100%;
    transform: translate(70%, -70%);
}

.header__panel--heart {
    width: 19.6px;
    height: 17.65px;
    margin-left: 54px;
}

.header__panel--person {
    width: 17px;
    height: 18.5px;
    margin-left: 60.2px;
}



.header__wrapper-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Jost';
    font-weight: 400;
    color: var(--txt-White);
    margin-top: 13px;
}

.header__catalog-list {
    position: relative;
    height: 35px;
}

.header__catalog-list--dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.header__catalog-list--link {
    font-size: 25px;
    line-height: 140%;
    color: var(--txt-White);
    text-decoration: none;
}

.btn-hamburger {
    background-color: transparent;
    border: none;
    width: 24px;
    height: 14px;
    margin-left: 10px;
}

.header__catalog-menu {
    display: flex;
    justify-content: start;
    align-items: center;
    flex: 1 1 auto;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 51px;
    z-index: 5;
    width: 1185px;
    min-height: 86px;
    padding-top: 1px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);

}

.header__catalog-list--item:hover>.header__catalog-menu {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.header__catalog-menu::before {
    content: url('../../images/icons/Rectangle\ 103.png');
    position: absolute;
    left: 50px;
    top: -7px;
    width: 20px;
    height: 20px;
    background-color: var(--White);
    transform: rotate(45deg);
}

.header__catalog-menu--categories>a {
    color: var(--txt-Orange);
    background-image: url('../../images/line-active/Line-active-brands.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.header__catalog-menu--categories {
    display: block;
    background: var(--White);
    padding: 30px 30px 30px 50px;
    min-width: 200px;
}

.header__catalog-menu--brands {
    display: block;
    padding: 30px 30px 30px 0;
    background: var(--White);
    min-width: 418px;
}

.header__catalog-menu--brands:hover {
    min-width: 985px;
}

.header__catalog-menu--link {
    font-weight: 600;
    font-size: 17px;
    line-height: 150%;
    color: var(--txt-Dark);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 4px;
    padding-bottom: 5px;
}

.header__catalog-sub-menu {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    position: absolute;
    left: 0;
    top: 86px;
    background: var(--White);
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
}

.header__catalog-sub-menu--categories {
    width: 618px;
}

.header__catalog-sub-menu--brands {
    width: 1185px;
    display: none;
}

.header__catalog-sub-menu--section:not(.header__catalog-sub-menu--section:nth-of-type(1)) {
    margin-left: 40px;
}

.header__catalog-sub-menu--section {
    flex: 1 1 auto;
    min-width: 170px;
}

.header__catalog-sub-menu--link {
    display: block;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 17px;
    line-height: 2.5em;
    text-decoration: none;
    color: var(--txt-Dark);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__catalog-sub-menu--link:hover {
    color: var(--txt-Orange);
    cursor: pointer;
}

.header__catalog-menu--brands:hover>a {
    color: var(--txt-Orange);
    background-image: url('../../images/line-active/Line-active-brands.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
}

.header__catalog-menu:nth-child(2):hover :nth-child(1)>a {
    background: none;
    color: var(--txt-Dark);
}

.header__catalog-menu--categories:hover>a {
    color: var(--txt-Orange) !important;
    background-image: url('../../images/line-active/Line-active-brands.svg') !important;
    background-repeat: no-repeat !important;
    background-position: center bottom !important;
}

.header__catalog-menu--brands:hover>.header__catalog-sub-menu--brands {
    display: flex;
}

.header__catalog-menu--brands:hover {
    margin-right: 500px;
}





.header__search {
    position: relative;
    width: 418px;
    min-width: 300px;
    height: 44px;
    padding-left: 10px;
    padding-right: 10px;
}

.header__search-input {
    width: 100%;
    background: var(--Black);
    border: 1px solid var(--Dark-Orange);
    padding-left: 54px;
    padding-top: 11px;
    padding-bottom: 10px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: var(--txt-Gray-2);
}

.btn-search {
    width: 16.42px;
    height: 16.82px;
    position: absolute;
    top: 14px;
    left: 22px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--txt-Gray-2);
}

.header__navigation-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__navigation-link {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: var(--txt-White);
    text-decoration: none;
}

.header__navigation-list--item:not(.header__navigation-list--item:first-child) {
    margin-left: 60px;
}

.header__navigation-link:hover {
    color: var(--txt-Orange);
}

.header__navigation-list--item:nth-of-type(4)>a {
    color: var(--txt-Orange);
}

.header__navigation-list--item:nth-of-type(4)>a:hover {
    color: var(--txt-White);
}

.header__navigation-list--item:nth-of-type(4) {
    position: relative;
}

.header__navigation-list--item:nth-of-type(4)::after {
    content: url('../../images/Line\ 2.svg');
    position: absolute;
    right: 38%;
    bottom: -95%;
}

.border-sap {
    padding-left: 3px;
    padding-right: 3px;
    border: 1px solid var(--txt-Dark);
    vertical-align: top;
    border-radius: 50%;
}

.header__catalog-sub-menu--link:hover>.border-sap {
    border: 1px solid var(--Orange);
}

.header__catalog-sub-menu--link>sap {
    font-size: 7px;
    vertical-align: top;
}

.border-sap {
    border: var(--Black) solid 1px;
    border-radius: 50%;
}




@media screen and (max-width:1840px) {
    .header__container {
        padding-left: 300px;
        padding-right: 300px;
    }
}

@media screen and (max-width:1720px) {
    .header__panel-flex-container--heart {
        margin-left: 35px;
    }

    .header__panel-flex-container--person {
        margin-left: 35px;
    }

    .header__navigation-list--item:not(.header__navigation-list--item:first-child) {
        margin-left: 35px;
    }

    .header__logo {
        left: 50%;
    }

    .header__logo>svg {
        width: 140px;
        height: 45px;
    }
}

@media screen and (max-width:1480px) {
    .header__container {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media screen and (max-width:1366px) {
    .header__container {
        padding-left: 200px;
        padding-right: 200px;
    }
}

@media screen and (max-width:1280px) {
    .header__container {
        padding-left: 170px;
        padding-right: 170px;
    }

    .header__panel-flex-container--heart {
        margin-left: 25px;
    }

    .header__panel-flex-container--person {
        margin-left: 25px;
    }

    .header__navigation-list--item:not(.header__navigation-list--item:first-child) {
        margin-left: 25px;
    }

    .header__logo {
        left: 55%;
    }

}


@media screen and (max-width:991px) {
    .header__container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width:768px) {
    .header__container {
        display: none;
    }

    .header__mibile {
        display: block;
        padding-left:20px;
        width: 616px;
    }
}

@media screen and (max-width:768px){
    .header__container {
        display: none;
    }
   
}