.product-card {
    position: relative;
    z-index: 0;
    width: 289px;
    height: 384px;
    background-color: #F5F5F5;
    padding-top: 15px;
    margin-top: 20px;
    list-style-type: none;
}

.product-card__lable {
    position: absolute;
    display: inline-block;
    top: 30px;
    left: 30px;
    z-index: 2;
}

.product-card__lable--new {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 10px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: var(--txt-Orange);
}

.product-card__lable--hit {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 10px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #755FBB;
}

.product-card__lable--stock {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 10px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #5FBBA3;
}

.product-card__lable--notinstock {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 10px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #636B78;
}

.product-card__lable--discount {
    position: absolute;
    z-index: 3;
    top: 4px;
    left: 10px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 15px;
    line-height: 130%;
    color: #C82A2A;
}

.product-card__like {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 2;
}


.product-card__like--noactive {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 3;
    opacity: 0;
}

.product-card__like--active {
    opacity: 1;
}


.product-card__name {
    display: block;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
    color: var(--txt-Dark);
    margin: 11px 30px 10px 30px;
    min-height: 48px;
}

.product-card__price {
    display: inline-block;
    font-family: 'Jost';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: var(--txt-Orange);
    margin: 0 0 30px 30px;
}

.product-card__price::after {
    content: "\20BD";
    margin-left: 5px;
}

.product-card__price-stock {
    display: inline-block;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    text-decoration-line: line-through;
    color: var(--txt-Gray-2);
    margin: 0 0 30px 7px;
}

.product-card__inbasket {
    display: block;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 0;
    bottom: -70px;
    z-index: 5;
    width: 289px;
    height: 100px;
    background-color: #F5F5F5;

}

.product-card__inbasket-btn {
    padding: 20px 15px 30px 15px;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: #F5F5F5;
}

.product-card__inbasket-btn>p {
    position: absolute;
    z-index: 2;
    top: 28px;
    left: 57px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--txt-Orange);
}

.product-card:hover {
    box-shadow: 20px -18px 10px 5px rgba(9, 9, 9, 0.1);
    transform: translateY(-25px);
    z-index: 10;
    transition: 0.5s;
    cursor: pointer;
}

.product-card:hover .product-card__inbasket {
    opacity: 1;
    visibility: visible;
    box-shadow: 20px 20px 10px 5px rgba(9, 9, 9, 0.1);
    transition: 0.5s;
}

.product-card__inbasket-btn>svg:last-child {
    display: none;
}

.product-card__inbasket-btn:hover>svg:nth-of-type(2) {
    display: block;
}

.product-card__inbasket-btn:hover>svg:nth-of-type(1) {
    display: none;
}

.product-card__inbasket-btn:hover>p {
    color: var(--txt-White);
}

.product-card__inbasket-btn--noactive {
    z-index: 1;
    opacity: 0;
}

.product-card__basket-btn {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 30px 30px;
    font-family: 'Jost';
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    text-align: center;
    color: var(--txt-Dark);
}

.product-card__basket-btn p {
    max-width: 100px;
}

.button-minus,
.button-plus {
    width: 50px;
    height: 50px;
    position: relative;
}

.button-minus>svg:first-child {
    position: absolute;
    left: 20px;
    top: 24px;
    z-index: 2;
}

.button-plus>svg:first-child {
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 2;
}

.product-card__basket-btn p:last-child {
    line-height: 130%;
    color: var(--txt-Gray);
}