.reviews {
    display: block;
    width: 100vw;
    height: fit-content;
    margin-top: 120px;
}

.reviews__title {
    font-size: 60px;
    line-height: 100%;
    color: var(--txt-Dark);
    display: block;
    text-align: center;
    margin-bottom: 147px;
}

.swiperReviews {
    width: 1216px;
    height: 307px;
    overflow: visible !important;
    opacity: 0.5;
    background-color: var(--bg-Gray);
}

.swiper-reviews__slide {
    width: 598px !important;
    height: 307px !important;
    background-color: var(--Black);

}



.swiper-slide-active {
    width: 598px !important;
    height: 307px !important;
}



.swiper-reviews__btn-prev {
    background-image: url('../../images/icons/prev.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--Orange);
    width: 50px !important;
    height: 50px !important;
    top: 47% !important;
    background-color: var(--bg);
}

.swiper-reviews__btn-next {
    background-image: url('../../images/icons/next.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--Orange);
    width: 50px !important;
    height: 50px !important;
    background-color: var(--bg);
    top: 47% !important;
    /* overflow: visible !important; */
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: none !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: none !important;
} 

.swiper-reviews__slide {
    padding: 50px;
}

.swiper-reviews__slide--text {
    font-size: 17px;
    line-height: 140%;
    color: var(--txt-Gray);
}

.swiper-reviews__slide--instagram {
    display: block;
    width: 28px;
    height: 28px;
    background-color: var(--Black);
    border: 1px solid var(--Orange);
    background-image: url('../../images/icons/instagram.svg');
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
}

.swiper-reviews__slide--email {
    font-family: 'Forum';
    font-size: 20px;
    line-height: 130%;
    color: var(--txt-Orange)
}