.reviews {
    margin-top: 120px;
}

.reviews__title {
    font-size: 60px;
    line-height: 100%;
    color: var(--txt-Dark);
    display: block;
    text-align: center;
    margin-bottom: 147px;
}

.swiperReviews {
    width: 1216px;
    height: 379px;
    justify-content: center;
    overflow: visible !important;
    background-color: var(--bg-Gray);
}

.swiper-reviews__slide {
    width: 430px;
    height: 221px;
    background-color: var(--bg-Gray);
}

.swiper-reviews__slide-wrapper {
    background-color: var(--Black);
    width: 430px;
    height: 221px;
    position: relative;
    padding: 36px;
    padding-bottom: 52px;
    opacity: 0.5;
    border-top: 3px solid var(--Orange);
    border-bottom: 3px solid var(--Orange);
}

.swiper-slide-prev .swiper-reviews__slide-wrapper {
    background-color: var(--Black);
    width: 430px;
    height: 221px;
    position: relative;
    padding: 36px;
    padding-bottom: 52px;
    opacity: 0.5;
    transform: translateX(135px);
}

.swiper-slide-active .swiper-reviews__slide-wrapper {
    width: 598px;
    height: 357px;
    padding: 50px 50px 52px 50px;
    opacity: 1;
    transform: scale(120%);
    transform: translateY(-20%);
    transition: .3s;
    border-top: 3px solid var(--Orange);
    border-bottom: 3px solid var(--Orange);
}

.swiper-slide-next+div.swiper-reviews__slide {
    transform: translateX(25px);
}

.swiper-slide-next .swiper-reviews__slide-wrapper {
    width: 598px;
    height: 357px;
    padding: 50px 50px 52px 50px;
    opacity: 1;
    transform: scale(120%);
    transform: translateY(-20%);
    transition: .3s;
    border-top: 3px solid var(--Orange);
    border-bottom: 3px solid var(--Orange);
}

.swiper-reviews__slide--foto {
    position: absolute;
    width: 58px;
    height: 58px;
    top: -36px;
    left: 36px;
}

.swiper-slide-active .swiper-reviews__slide--foto {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -50px;
    left: 50px;
}

.swiper-slide-next .swiper-reviews__slide--foto {
    position: absolute;
    width: 80px;
    height: 80px;
    top: -50px;
    left: 50px;
}

.swiper-reviews__slide--text {
    font-size: 12px;
    line-height: 17px;
    color: var(--txt-Gray);
    margin-bottom: 42px;
}

.swiper-slide-active .swiper-reviews__slide--text {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 57px;
}

.swiper-slide-next .swiper-reviews__slide--text {
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 57px;
}

.swiper-reviews__slide--instagram {
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--Black);
    border: 1px solid var(--Orange);
    background-image: url('../../images/icons/instagram.svg');
    background-position: center;
    background-repeat: no-repeat;
    float: left;
    margin-right: 11px;
}

.swiper-slide-active .swiper-reviews__slide--instagram {
    width: 28px;
    height: 28px;
    margin-right: 15px;
}

.swiper-slide-next .swiper-reviews__slide--instagram {
    width: 28px;
    height: 28px;
    margin-right: 15px;
}

.swiper-reviews__slide--email {
    font-family: 'Forum';
    font-size: 14px;
    line-height: 18px;
    color: var(--txt-Orange)
}

.swiper-slide-active .swiper-reviews__slide--email {
    font-size: 20px;
    line-height: 26px;
}

.swiper-slide-next .swiper-reviews__slide--email {
    font-size: 20px;
    line-height: 26px;
}

.swiper-reviews__btn-prev {
    background-image: url('../../images/icons/prev.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--Orange);
    width: 50px !important;
    height: 50px !important;
    left: -80px !important;
    top: 100px !important;
    background-color: var(--bg);
}

.swiper-reviews__btn-next {
    background-image: url('../../images/icons/next.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--Orange);
    width: 50px !important;
    top: 100px !important;
    right: -80px !important;
    height: 50px !important;
    background-color: var(--bg);
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: none !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: none !important;
}

.swiperReviews .swiper-pagination__buttons>span {
    width: 16px !important;
    height: 16px !important;
    border: 1px solid var(--txt-Dark);
    background-color: transparent !important;
    background-image: url('../../images/reviews/reviews-pag.svg');
    width: 10px;
    height: 10px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 0 !important;
}

@media screen and (max-width:768px) {
    .reviews {
        margin-top: 80px;
    }

    .swiperReviews {
        width: 598px;
    }

    .swiper-slide-next .swiper-reviews__slide-wrapper {
        background-color: var(--Black);
        width: 430px;
        height: 221px;
        position: relative;
        padding: 36px;
        padding-bottom: 52px;
        opacity: 0.5;
        border-top: 3px solid var(--Orange);
        border-bottom: 3px solid var(--Orange);

    }

    .swiper-slide-next .swiper-reviews__slide--foto {
        position: absolute;
        width: 58px;
        height: 58px;
        top: -36px;
        left: 36px;
    }

    .swiper-slide-next .swiper-reviews__slide--text {
        font-size: 12px;
        line-height: 17px;
        color: var(--txt-Gray);
        margin-bottom: 42px;
    }

    .swiper-slide-next .swiper-reviews__slide--instagram {
        width: 20px;
        height: 20px;
        margin-right: 11px;
    }

    .swiper-slide-next .swiper-reviews__slide--email {
        font-size: 14px;
        line-height: 18px;
    }

    .swiper-reviews__btn-prev,
    .swiper-reviews__btn-next {
        display: none;
    }
    .reviews__title {
        font-size: 50px;
        text-align:left;
        margin-bottom: 147px;
    }
}