.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
    background-color: var(--Black);
}

.slider__slide {
    background-image: url('../../images/slider/bg.jpg');
    min-width: 100%;
    min-height: 700px;
}

.slide-pagination {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 364px;
    bottom: 344px;
}

.slide-dot {
    width: 16px;
    height: 16px;
    border: 1px solid var(--Dark-Orange);
    margin-bottom: 15px;
}

.slide-dot:last-of-type {
    margin-bottom: 0;
}

.active-slide {
    width: 16px;
    height: 16px;
    border: 1px solid var(--Dark-Orange);
    background-image: url('../../images/slider/active-pag.svg');
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.slider-button-prev {
    display: block;
    width: 40px;
    height: 58px;
    position: absolute;
    top: 138px;
    right: 352px;
    background-image: url('../../images/slider/slider-btn-prev.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none !important;
    padding: 0;
}

.slider-button-next {
    display: block;
    width: 40px;
    height: 86px;
    position: absolute;
    bottom: 238px;
    right: 352px;
    background-image: url('../../images/slider/slider-btn-next.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: transparent;
    border: none !important;
    padding: 0;
}


@media screen and (max-width:768px) {
    .slider__slide {
        background-image: url('../../images/slider/Bg\ 768.jpg');
        min-width: 100%;
        min-height: 536px;
    }

    .slide-pagination {
        flex-direction: row;
        justify-content: space-between;
        width: 111px;
        left: 314px;
        bottom: 74px;
    }

    .slider-button-next,
    .slider-button-prev {
        display: none;
    }

}

@media screen and (max-width:320px) {
       .slider__slide {
        background-image: url('../../images/slider/Bg\ 320.jpg');
        min-width: 100%;
        min-height: 321px;
    }
}