.header__slide-titel-group {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-left: 352px;
}

.header__slide-titel {
    font-family: 'Forum';
    font-weight: 400;
    font-size: 75px;
    line-height: 100%;
    color: var(--txt-Orange);
    margin-top: 110px;
}

.header__slide-sub-titel {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    color: var(--txt-White);
    margin-top: 30px;
}

.header__slide-details-btn {
    display: block;
    position: relative;
    margin-top: 60px;
}

.header__slide-details-btn--button {
    position: absolute;
    left: 0;
    top: 0;
}

.header__slide-details-btn--link {
    font-family: 'Jost';
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: var(--txt-White);
    text-decoration: none;
    margin: 18px 63px 62px 64px;
    z-index: 2;
    position: absolute;
}

@media screen and (max-width:768px) {
    .header__slide-titel-group {
        margin-left: 20px;
    }

    .header__slide-titel {
        font-size: 60px;
        margin-top: 30px;
    }
    .header__slide-sub-titel {
        font-size: 25px;
        margin-top: 40px;
    }
    .header__slide-details-btn {
        margin-top: 40px;
    }
    
}