/* .slider-categories-mobile {
        height: 1000px;
        width: 1216px;
        position: absolute;
        left: 0;
        top: 59px;
        overflow: hidden;

}

.slider-categories-mobile .swiper-slide {
     height: 500px !important;
     width: 300px !important;
     overflow: hidden;
} */