.product-card__swiper {
    max-width: 287px;
    height: 239px;
    position: relative;
    background: #F5F5F5;
}

.swiper-slide {
    width: 287px;
    height: 228px;
    padding-bottom: 11px;
    background-color: #F5F5F5;
}

.product-card-1 .swiper-slide {
    background-image: url('../../images/products/prod1.jpg');
}

.product-card-2 .swiper-slide {
    background-image: url('../../images/products/prod2.jpg');
}

.product-card-3 .swiper-slide {
    background-color: #F5F5F5;
    background-image: url('../../images/products/prod3.jpg');
}

.product-card-4 .swiper-slide {
    background-color: #F5F5F5;
    background-image: url('../../images/products/prod4.jpg');
}

.product-card-5 .swiper-slide {
    background-image: url('../../images/products/prod5.jpg');
}

.product-card-6 .swiper-slide {
    background-image: url('../../images/products/prod6.jpg');
}

.product-card-7 .swiper-slide {
    background-image: url('../../images/products/prod7.jpg');
}

.product-card-8 .swiper-slide {
    background-image: url('../../images/products/prod8.jpg');
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom:0 !important;
    position: absolute !important;
}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    display: inline-block !important;
    background-color: #a9a3a3 !important;
    border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
    background-color: #524336 !important;
    border-radius: 0 !important;
}


