.special-offers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    width: 100vw;
    min-height: 470px;
    background-color: var(--bg-Grey);
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
    color: var(--txt-White);
}

.special-offers__paints {
    background-image: url('../../images/special-offers/paints.jpg');
    background-size: 100% 100%;
}

.special-offers__hit {
    background-image: url('../../images/special-offers/hits.jpg');
    background-size: 100% 100%;
}

.special-offers__paints--title {
    text-align: center;
    margin-top: 40px;
}

.special-offers__hit--title {
    margin-top: 40px;
    margin-left: 50px;
}

.special-offers__link {
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--txt-Orange);
    background-image: url('../../images/line-active/look-catalog.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    padding: 5px;
    text-decoration: none;
}

.special-offers__paints--link {
    margin-top: 298px;
    margin-left: 355px;
}

.special-offers__hit--link {
    margin-top: 246px;
    margin-left: 53px;
}

